@model Data.Entities.User

@{
    ViewData["Title"] = "EditUser";
}

<style>
    .profile-image {
        width: 150px;
        height: 150px;
        margin-left: 5px;
        border-radius: 100%
    }

    .form-control {
        border-radius: 50px !important;
        width: 180px;
    }

    #fileInput {
        width: 96%;
    }

    .form-control:focus {
        border-color: rgb(182 109 255);
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(182, 109, 255, 0.1);
    }

    .form-control:read-only {
        background-color: #f5f5f5;
    }
</style>

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style=" background-color:white">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Change Profile Photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="uploadForm" asp-controller="User" asp-action="ChangeCurrentUserProfilePicture" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Default file input example</label>
                        <input class="form-control" type="file" name="photo" id="fileInput">
                        <input type="hidden" name="id" value="@Model.Id" />
                    </div>


                    <div class="col-sm-9" style="margin-top:30px;">

                        <input type="submit" class="btn-rounded btn btn-outline-primary  " id="uploadBtn" value="Upload" />
                        <button type="button" class="closeModal btn-rounded btn btn-outline-secondary ">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="card">
        <div class="row" style="padding-left:80px;padding-right:80px">
            <div class="col-md-3" style="margin-top:50px;">
                <div class="card-body" style=" text-align:center">
                    <h4 class="card-title">My account</h4>
                    @if (Model.Photos.Where(x => x.IsProfilePicture == true).FirstOrDefault() != null)
                            {
                        <img src="~/images/@Model.Photos.Where(x => x.IsProfilePicture == true).FirstOrDefault().Path" class="profile-image inline-block" alt="Profile" />
                    }
                    else
                    {
                        <img src="~/images/blank-profile.png" class="profile-image inline-block" alt="blankuser" />
                    }
                    <h6 class="f-w-600"> @Model.FirstName @Model.LastName</h6>
                    <p class="card-description"> Personal info </p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">

                    <form class="form-sample" asp-controller="User" asp-action="EditUser">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" asp-for="Id" value="@Model.Id" class="form-control" />
                        <input type="hidden" asp-for="PasswordHash" value="@Model.PasswordHash" class="form-control" />
                        <p class="card-description"> Edit personal info <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i> </p>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">First Name</label>
                                    <div class="col-sm-9">
                                        <input asp-for="FirstName" value="@Model.FirstName" class="form-control editInput" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Last Name</label>
                                    <div class="col-sm-9">
                                        <input asp-for="LastName" value="@Model.LastName" class="form-control editInput" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Role</label>
                                    <div class="col-sm-9">
                                        <input type="text" asp-for="RoleId" value="@Model.RoleId" type = "hidden" class="card-description form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Date of Birth</label>
                                    <div class="col-sm-9">
                                        <input type="date" asp-for="DateOfBirth" placeholder="@Model.DateOfBirth.Value.Month.ToString()/@Model.DateOfBirth.Value.Day.ToString()/@Model.DateOfBirth.Value.Year.ToString()" class="form-control editInput" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Phone Number</label>
                                    <div class="col-sm-9">
                                        @if (Model.PhoneNumber != null)
                                        {
                                            <input type="tel" id="phoneNumber" asp-for="PhoneNumber" value="@Model.PhoneNumber" class="form-control editInput" />

                                        }
                                        else
                                        {
                                            <input type="tel" id="phoneNumber" asp-for="PhoneNumber" class="form-control editInput" />
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="email" asp-for="Email" value="@Model.Email" class="form-control editInput" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <button type="button" id="editLink" class="btn-rounded btn btn-outline-primary btn btn-fw">Edit</button>
                                <button type="submit" class="btn-rounded btn btn-outline-primary btn btn-fw" id="saveButton" style="display:none;">Save</button>
                                <button type="button" class="btn-rounded btn btn-outline-secondary btn-fw backBtn" id="backBtn" style="display:none;">Back</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    $(document).ready(function () {
        $('.editInput').prop('readonly', true);

        $('#editLink').on('click', function () {
            $('.editInput').prop('readonly', false);

            $('#saveButton').show();
            $('#backBtn').show();
            $('#editLink').hide();
        });

        $('.backBtn').on('click', function () {
            $('.editInput').prop('readonly', true);

            $('#saveButton').hide();
            $('#backBtn').hide();
            $('#editLink').show();
        });
        $('.profile-image').on('click', function () {
            $('#imageModal').modal('show');
        });

        $('#uploadBtn').on('click', function () {
            $('#imageModal').modal('hide');
        });


        $('.closeModal').on('click', function () {
            $('#imageModal').hide();
        });
        $('.close').on('click', function () {
            $('#imageModal').hide();
        });

        $('#fileInput').on('change', function () {
            var file = this.files[0];
        });

    });
</script>
