@model Data.Entities.Reservation1

<div>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>

<button id="deleteReservationBtn" class="btn btn-danger">Delete</button>
<button id="editReservationBtn" class="btn btn-info">Edit</button>
</div>

<div class="modal fade" id="deleteConfirmationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to delete this reservation?</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this reservation?</p>
            </div>
            <div class="modal-footer">
                <button id="confirmDeleteBtn" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button id="cancelDeleteBtn" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="editReservationContent">
            </div>
        </div>
    </div>
</div>

<script>
    $('#deleteReservationBtn').on('click', function () {
        $('#deleteConfirmationModal').modal('show');
    });

    $('#editReservationBtn').on('click', function () {
        var reservationId = @Model.Id;
        $('#editModal').modal('show');
        $.ajax({
            url: '/Reservation1/EditReservation',
            type: 'GET',
            data: { id: reservationId },
            success: function (data) {
                $('#editReservationContent').html(data);
            }
        });
    });

    $('#confirmDeleteBtn').on('click', function () {
        var reservationId = @Model.Id;
        $.ajax({
            url: '/Reservation1/RemoveReservation',
            type: 'POST',
            data: { id: reservationId },
            success: function (data) {
                window.location.href = '/Reservation1/Calendar';
            }
        });
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
