@model Data.Entities.Reservation1
@inject IHttpContextAccessor context;
@{
    var serviceName = (String)ViewData["serviceName"];
    DateTime availableSlots = (DateTime)ViewData["selectedDate"];
    Data.Entities.ReservationSlots reservationSlots = (Data.Entities.ReservationSlots)ViewData["reservationSlots"];
}

    <div class="col-md-4">
        <h3>@serviceName</h3>
        <h4>@reservationSlots.StartTime - @reservationSlots.EndTime</h4>

        <form id="newReservationForm" asp-action="NewReservation" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (@context.HttpContext.User.IsInRole("admin"))
            {
                <div class="form-group">
                    <label class="control-label"></label>
                    <select name="userEmail" id="userEmail" class="form-control" asp-items="ViewBag.emails"></select>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="User.Email" class="control-label"></label>
                    <input name="userEmail" id="userEmail" class="form-control" value="@context.HttpContext.User.Identity.Name" readonly />
                </div>
            }
            <div class="form-group">
                <input asp-for="Title" class="form-control" value="@serviceName" type="hidden" readonly />
            </div>
            <div class="form-group">
                <label asp-for="PrimaryColor" class="control-label"></label>
                <input type="color" asp-for="PrimaryColor" class="form-control" />
                <span asp-validation-for="PrimaryColor" type="color" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="ReservationSlotId" class="form-control" type="hidden" value="@reservationSlots.Id" readonly/>
            </div>
            <div class="form-group">
                <input class="form-control-file custom-file-input" type="file" name="uploadFile"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
