@model IEnumerable<Data.Entities.Attendance>
@{
    var enrolledUsers = (IEnumerable<Data.Entities.User>)ViewData["enrolledUsers"];
    var cycles = (IEnumerable<Data.Entities.Cycle>)ViewData["cycles"];
    var course = (Data.Entities.Course)ViewData["course"];

}
<head>
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/hoverable-collapse.js"></script>
    <script src="~/assets/js/misc.js"></script>
    <script src="~/assets/js/chart.js"></script>

</head>

<p>
    <a asp-action="Create">Create New</a>
</p>
<button class="btn-check-bb">Check</button>

    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Reservations</h4>
                <div class="table-responsive">
                    <button class="btn-check-attendance">Check Attendance</button>
                <table class="table attendanceTable">
                    <thead>
                        <tr>
                            <th> User </th>
                            <th class="" style="text-decoration:none; font-weight:normal">
                                <a class="nav-link dropdown-toggle" id="courseDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    Course Day
                                </a>
                                <div class="dropdown-menu navbar-dropdown" aria-labelledby="courseDropdown">
                                    @foreach (var v in cycles)
                                    {
                                        <a class="dropdown-item selected-day" data-cycle-attendance-id="@v.Id">
                                            @v.StartDate - @v.EndDate
                                        </a>
                                        <div class="dropdown-divider"></div>
                                    }
                                </div>
                            </th>
                            <th>
                                Present
                            </th>

                            <th> Absent </th>
                            <th>
                                Time arrived
                            </th>
                            <th> Time Leaved </th>
                        </tr>
                    </thead>

                        <tbody>
                            @foreach (var v in enrolledUsers)
                            {
                            <tr data-user-id="@v.Id" data-course-id="@course.Id">
                                    @if (v.Photos.Where(x => x.IsProfilePicture == true).Count() > 0)
                                    {
                                        <td>
                                            <img src="~/images/@v.Photos.Where(x => x.IsProfilePicture == true).First().Path" class="me-2" alt="User-Profile-Image">
                                            @v.FirstName @v.LastName
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <img src="~/assets/images/faces/face1.jpg" class="me-2" alt="image">
                                            @v.FirstName @v.LastName
                                        </td>
                                    }
                                <td></td>
                                    @if (Model.Select(x => x.UserId).Contains(v.Id))
                                    {
                                    <td class="checkAttendanceVisibility">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" Disabled checked>
                                                </label>
                                            </div>
                                        </td >
                                    <td class="checkAttendanceVisibility">
                                            <div class="form-check form-check-danger">
                                                <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" Disabled >
                                                </label>
                                            </div>
                                        </td>
                                    <td class="checkAttendanceVisibility">
                                            @{
                                                var x = Model.Where(x => x.UserId == v.Id).First();
                                                @Html.DisplayFor(modelItem => x.TimeArrive)

                                            }

                                        </td>
                                    <td class="checkAttendanceVisibility">
                                            @{
                                                var y = Model.Where(x => x.UserId == v.Id).First();
                                                @Html.DisplayFor(modelItem => x.TimeLeave)
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                    <td class="checkAttendanceVisibility">
                                            <div class="form-check form-check-success">
                                                <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" Disabled >
                                                </label>
                                            </div>
                                        </td>
                                    <td class="checkAttendanceVisibility">
                                            <div class="form-check form-check-danger">
                                                <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" Disabled checked>
                                                </label>
                                            </div>
                                        </td>
                                    }
                                <td class="checkAttendanceVisibility " style="display: none;">
                                    <div class="form-check selected form-check-success">
                                        <label class="form-check-label">
                                            <input  type="checkbox" class="form-check-input" checked>
                                        </label>
                                    </div>
                                </td>
                                <td class="checkAttendanceVisibility " style="display: none;">
                                    <div class="form-check selected form-check-danger">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                        </label>
                                    </div>
                                </td>
                                <td class="checkAttendanceVisibility" style="display: none;">
                                    <input type="time" class="form-control" placeholder="dd/mm/yyyy" />
                                </td>
                                <td class="checkAttendanceVisibility" style="display: none;">
                                    <input type="time" class="form-control" placeholder="dd/mm/yyyy" />
                                </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<script>
    var selectedCycleId = $(this).data('cycle-attendance-id');

    $('.btn-check-attendance').on('click', function () {
        $('.checkAttendanceVisibility').each(function () {
            $(this).toggle(); // Pokazuje lub ukrywa elementy z klasą 'checkAttendanceVisibility'
        });
    })
    $('.selected-day').on('click', function () {
         selectedCycleId = $(this).data('cycle-attendance-id');
        $('[data-cycle-attendance-id]').data('cycle-attendance-id', selectedCycleId);
    });
    $('.btn-check-bb').on('click', function () {
        var selectedUsers = [];
        var courseId = $('[data-course-id]').data('course-id');

        $('.attendanceTable').find('tr').each(function () {
            var userId = $(this).data('user-id');
            var presentCheckbox = $(this).find('.selected.form-check-success input[type="checkbox"]');

            if (presentCheckbox.is(':checked')) {
                console.log("Selected User ID:", userId);
                selectedUsers.push(userId);
            } else {
                console.log("Checkbox not checked for user:", userId);
            }
        });


        $.ajax({
            url: '/Attendances/AddAttendance',
            type: 'POST',
            traditional: true,
            data: {
                courseId: courseId,
                cycleId: selectedCycleId,
                selectedUsers: selectedUsers
            },
        });
    });
</script>