@model Data.Entities.Course
@using System.IO;
@using System.Drawing

@{
    ViewData["Title"] = "GetCourse";
    var cycles = (IEnumerable<Data.Entities.Cycle>)ViewData["cycles"];
    var enrolledUsers = (IEnumerable<Data.Entities.User>)ViewData["enrolledUsers"];
}

<head>
    <link rel="stylesheet" href="~/css/courses/getCourse.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/hoverable-collapse.js"></script>
    <script src="~/assets/js/misc.js"></script>
    <script src="~/assets/js/chart.js"></script>
</head>

@*<section id="cd-timeline" class="cd-container">
        @foreach (var v in cycles)
        {

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>
            <div class="cd-timeline-content">
                            <a asp-controller="Cycles" style = "text-decoration:none"asp-action="GetCycle" asp-route-id="@v.Id">
                <h2>@v.Title</h2>
                    <h2 style="display:none"></h2>
                <div class="timeline-content-info">
                    <span class="timeline-content-info-title">
                        <i class="fa fa-certificate" aria-hidden="true"></i>
                        @v.Title
                    </span>
                    <span class="timeline-content-info-date">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                        @v.StartDate.ToString("MMM") @v.StartDate.ToString("HH:mm") - @v.EndDate.ToString("MMM") @v.EndDate.ToString("HH:mm")
                    </span>
                </div>
                <p>@v.Description</p>
    </a>
            </div>
    </div> 
        }
</section> 

*@

    <div class="col-12 "style="margin-top: 0;">
    <div class="card">

    <div class="card">
        <div class="row d-flex justify-content-between px-3 top">
            <div class="d-flex">
                <h3>@Model.Title</h3>
            </div>
            <div class="d-flex flex-column text-sm-right">
@*                <p class="mb-0"> <span>@Model.Description</span></p>
*@             <p><span class="font-weight-bold">@Model.Description</span></p>
            </div>
        </div>
        <!-- Add class 'active' to progress -->
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <ul id="progressbar" class="text-center">
                     @foreach (var v in cycles)
                    {
                            <a asp-controller="Cycles" class="progress-line" asp-action="GetCycle" asp-route-id="@v.Id">
                            <li class=" active step0 mdi mdi-check"></li></a>

                     }
                        <li class="step0 mdi mdi-checkbox-blank-circle-outline"></li>
                </ul>
            </div>
                <div id="partialViewContainer"></div>
        </div>

    </div>
</div>
</div>

<button class="newAttendance button-styled" data-course-id="@Model.Id">
    Check Attendance
</button>


@foreach (var v in cycles)
{
    <a class="cycle-attendance btn btn-primary" data-selected-cycle-attendance="@v.Id">
        @v.StartDate - @v.EndDate
    </a>
    <div class="dropdown-divider"></div>
}
<div class ="row attendancesList"></div>

<div class="form-check">
    <label class="form-check-label">
        <input name="xssa" id="sssss" type="checkbox" class="form-check-input" checked>
    </label>
</div>

<div id="newEnrollmentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="newEnrollmentContext">
            </div>
        </div>
    </div>
</div>

    <h4>Course</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Nasłuchiwanie na kliknięcie w link
   // $(document).ready(function () {
    $(document).on('click', '.progress-line', function (e) {
        e.preventDefault(); // Zapobiega domyślnej akcji przekierowania po kliknięciu

        var url = $(this).attr('href'); // Pobiera adres URL z atrybutu href
        $.get(url, function (data) {
            // Po pobraniu zawartości partial view, umieść ją w kontenerze
            $('#partialViewContainer').html(data);
        });
    });

    var courseId = $('.newAttendance').data('course-id');
    var cycleId = '' 


            var cycleAttendanceId = $(this).data('selected-cycle-attendance');
            courseId = $('.newAttendance').data('course-id'); 

            $.ajax({
                url: '/Attendances/GetAttendancesForCycle', 
                type: 'GET',
                data: { id: cycleAttendanceId, courseId: courseId }, 
                success: function (result) {
                    $('.attendancesList').html(result);
                },
                error: function () {
                }
            });
        $('.dropdown-item').on('click', function () {
             cycleId = $(this).data('cycle-attendance-id');
            $('#courseDropdown').text($(this).text());
        });
        

   // });

</script>