@model IEnumerable<Data.Entities.Course>

@{
    ViewData["Title"] = "GetUserCourses";
    var cycles = (IEnumerable<Data.Entities.Cycle>)ViewData["cycles"];
}

<head>
    <link rel="stylesheet" href="~/css/courses/course.css" />
</head>

<div class="course-list">

        <div class="courses-wrapper">
            @foreach (var item in Model)
            {
                <div class="btn getCourseButton" data-course-id="@item.Id">
                    <div class="course-card">
                        <h3>@item.Title</h3>
                        <p>@item.Description</p>
                        <ul>
                            @foreach (var cycle in item.Cycles)
                            {
                                <button class="deleteCycleButton btn button-styled" data-cycle-id="@cycle.Id" data-course-id="@item.Id">
                                    @cycle.Description - @cycle.StartDate.ToString("yyyy-MM-dd HH:mm") - @cycle.EndDate.ToString("yyyy-MM-dd HH:mm")
                                </button>
                            }
                        </ul>
                    </div>
                </div>

            }
        </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    $('.getCourseButton').on('click', function () {
        var courseId = $(this).data('course-id');
        window.location.href = '/Courses/GetCourse/' + courseId;
    });
</script>