@model IEnumerable<Data.Entities.Course>
<div style="padding:15px">
    <div class="col-md-12">
        <div class="page-header">
            <h3 class="page-title">
                <button class="newCourseButton btn-rounded btn btn-outline-primary button-styled">
                    add new course
                </button>
            </h3>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-3">
            @foreach (var item in Model)
            {
                <div class="col mb-4">
                    <div class="card h-100">
                        <div class="card-img-holder getCourseButton" data-course-id="@item.Id">
                            <img style="" src="/uploads/@item.PhotoPath?.ToString()" alt="@item.Title" />
                            <div class="course-label">Course</div>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h4 class="course-title">@item.Title</h4>
                            <p class="course-description">@item.Description</p>
                            <div>
                                @foreach (var cycle in item.Cycles.OrderBy(x => x.StartDate))
                                {
                                    <button class="cycle-button deleteCycleButton btn btn-primary" data-cycle-id="@cycle.Id" data-course-id="@item.Id">
                                        @cycle.StartDate.ToString("yyyy-MM-dd HH:mm") - @cycle.EndDate.ToString("yyyy-MM-dd HH:mm")
                                    </button>
                                }
                            </div>
                            <div class="mt-auto">
                                <div class="d-inline-flex flex-wrap gap-1 btn-container">
                                    <button class="newEnrollmentButton btn btn-success" data-course-id="@item.Id">
                                        Enroll
                                    </button>
                                    <button class="addCycleButton btn btn-info" data-course-id="@item.Id">Add New Cycle</button>
                                    <button class="deleteCourseButton btn btn-danger" data-course-id="@item.Id">Delete Course</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" id="alertMessage"></div>
            <div class="modal-footer">
                <button type="button" class="closeBtn btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div id="newEnrollmentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="newEnrollmentContext">
            </div>
            <div class="modal-footer">
                <button type="button" class="closeBtn btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteConfirmationModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to delete this course?</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this course?</p>
            </div>
            <div class="modal-footer">
                <button id="confirmDeleteBtn" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button id="cancelDeleteBtn" class="btn closeBtn  btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    let newCycles = [];

    $('.addCycleButton').on('click', function () {
        var courseId = $(this).data('course-id');
        $('#emptyModal').modal('show');
        $.ajax({
            url: '/Cycles/NewCycle',
            type: 'GET',
            xhrFields: {
                withCredentials: true
            },
            data: {
                id: courseId
            },
            success: function (data) {
                $('#emptyModalContentId').html(data);
            },
            error: function (xhr, status, error) {
                if (xhr.status === 401) {
                    window.location.href = "/Account/LoginPage";
                }
            }
        });
    });

    $('.newEnrollmentButton').on('click', function () {
        var courseId = $(this).data('course-id');
        $('#emptyModal').modal('show');
        $.ajax({
            url: '/Enrollment/NewEnrollment',
            type: 'GET',
            data: {
                id: courseId
            },
            success: function (data) {
                $('#emptyModalContentId').html(data);
            }
        });
    });

    $('.getCourseButton').on('click', function () {
        var courseId = $(this).data('course-id');
        window.location.href = '/Courses/GetCourse/' + courseId;
    });

    $('.newCourseButton').on('click', function () {
        $.ajax({
            url: '/Courses/NewCourse',
            type: 'GET',
            success: function (data) {
                $('#emptyModalContentId').html(data);
                $('#emptyModal').modal('show');
            }
        });
    });

    $('.deleteCycleButton').on('click', function () {
        var cycleId = $(this).data('cycle-id');
        $('#removeModalBodyId').find('h5').text('Are you sure you want to delete this cycle?');
        $('#removeModal').modal('show');

        $('#confirmDeleteBtn').data('cycle-id', cycleId);

        $('#confirmDeleteBtn').on('click', function () {
            var cycleId = $(this).data('cycle-id');
            $.ajax({
                url: '/Cycles/DeleteCycle',
                type: 'POST',
                data: {
                    cycleId: cycleId
                },
                success: function (data) {
                    $('#removeModal').modal('hide');
                    $(`.cycle-button[data-cycle-id="${cycleId}"]`).remove();
                }
            });
        });
    });

    $('.deleteCourseButton').on('click', function () {
        var courseId = $(this).data('course-id');
        $('#removeModalBodyId').find('h5').text('Are you sure you want to delete this course?');

        $('#removeModal').modal('show');
        $('#confirmDeleteBtn').data('cycle-id', courseId);
        $('#confirmDeleteBtn').on('click', function () {
            var courseId = $(this).data('cycle-id');
            $.ajax({
                url: '/Courses/DeleteCourse',
                type: 'POST',
                data: {
                    id: courseId
                },
                success: function (data) {
                    $('#removeModal').modal('hide');
                    $(`.deleteCourseButton[data-course-id="${courseId}"]`).closest('.col').remove();
                }
            });
        });
    });

    $('.closeBtn').on('click', function () {
        $('#newCycleModal').modal('hide');
        $('#alertModal').modal('hide'); +
            $('#newEnrollmentModal').modal('hide');
        $('#deleteConfirmationModal').modal('hide');
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
