@using System.Globalization;
@{
    var slots = (IEnumerable<Data.Entities.ReservationSlots>)ViewData["slots"];
}

<style>
    #calendar {
        max-width: 1100px;
        margin: 0 auto;
        background-color: white;
    }

    a.fc-day-header {
        background-color: mediumpurple;
        color: black;
        text-decoration: none; 
    }

    a {
        color: black;
        text-decoration: none; 
    }
</style>

@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert("@TempData["ErrorMessage"]");
    </script>
}

<div id='calendar'>
    

<table id="slots" style="display: none;">
    @for (int i = 0; i < slots.Count(); i++)
    {
        <tr>
            <td>@slots.ElementAt(i).Id</td>
            <td>@slots.ElementAt(i).StartTime</td>
            <td>@slots.ElementAt(i).EndTime</td>
            <td>@slots.ElementAt(i).Service.Id</td>
            <td>@slots.ElementAt(i).Date.Add(slots.ElementAt(i).StartTime)</td>
            <td>@slots.ElementAt(i).IsAvailable</td>
            <td>@slots.ElementAt(i).Service.Name</td>
        </tr>
    }
</table>
</div>

<div id="ReservationSlotsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body" id="newReservationSlot">
            </div>
        </div>
    </div>
</div>

<script>

    var eventsArr = [];
    let slotsTable = document.getElementById("slots");
    let trElems = slotsTable.getElementsByTagName("tr");
    for (let tr of trElems) {
        let tdElems = tr.getElementsByTagName("td");
            let dateString = tdElems[4].innerText; 
            let dateParts = dateString.split('.'); 
            let formattedDate = `${dateParts[1]}/${dateParts[0]}/${dateParts[2]}`;
            let newDate = new Date(formattedDate);
        let eventObj = {
            id: tdElems[0].innerText,
            start: newDate,
            end: tdElems[2].innerText,
            service: tdElems[3].innerText,
            date: new Date(tdElems[4].innerText),
            isavailable: tdElems[5].innerText,
            title: tdElems[6].innerText,
        };
            eventsArr.push(eventObj);
    }

    var calendarEl = document.getElementById('calendar');
    document.addEventListener('DOMContentLoaded', function () {
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            initialDate: '2024-01-01',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth'
            },
            events: eventsArr,
            dateClick: function (info) {
                console.log(eventsArr);
                selectedDate = info.dateStr;
                console.log(selectedDate);
                $.ajax({
                    url: '/ReservationSlots/NewReservationSlot',
                    type: 'GET',
                    data: { selectedDate: selectedDate },
                    success: function (data) {
                        $('#ReservationSlotsModal .modal-body').html(data); 
                        $('#ReservationSlotsModal').modal('show');
                    }});
            },
            eventClick: function (info) {
                var clickedEvent = info.event;
                var slotId = clickedEvent.id;

                $.ajax({
                    url: '/ReservationSlots/GetSlotDetails',
                    method: 'GET',
                    data: {
                        slotId: slotId
                    },
                    success: function (response) {
                        $('#newReservationSlot').html(response);
                        $('#ReservationSlotsModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                    }
                });
            }
        });

        calendar.render();
    });
</script>