@using System.Globalization;
@{
    var slots = (IEnumerable<Data.Entities.ReservationSlots>)ViewData["slots"];
}

@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert("@TempData["ErrorMessage"]");
    </script>
}

<div id='calendar'>
    @foreach (var slot in slots)
    {
        <div class="slot"
             data-id="@slot.Id"
             data-date="@($"{slot.Date.ToString("yyyy-MM-dd")}T{slot.StartTime}")"
             data-endTime="@($"{slot.Date.ToString("yyyy-MM-dd")}T{slot.EndTime}")"
             data-startTime="@slot.StartTime">
            <!-- Dodaj inne potrzebne atrybuty danych -->
        </div>
    }
</div>

<div id="ReservationSlotsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body" id="newReservationSlot">
            </div>
        </div>
    </div>
</div>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var slotsElements = document.querySelectorAll('.slot');
        var selectedDate;
        var events = [];

        slotsElements.forEach(slotElement => {
            var id = slotElement.dataset.id;
            var date = new Date(slotElement.dataset.date);
            var endTime = new Date(slotElement.dataset.endTime);
            var startTime = slotElement.dataset.startTime;

            events.push({
                id: id,
                start: date,
                end: endTime,
                title: `${startTime} - ${endTime}`
            });
        });

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            initialDate: '2023-11-01',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: events,
            dateClick: function (info) {
                selectedDate = info.dateStr; // Pobranie daty z klikniętego dnia
                $.get('/ReservationSlots/NewReservationSlot', { selectedDate: selectedDate }, function (data) {
                    $('#ReservationSlotsModal .modal-body').html(data); // Wstawienie danych częściowego widoku do modala
                    $('#ReservationSlotsModal').modal('show'); // Wyświetlenie modala
                });
            }
        });

        calendar.render();
    });
</script>