@using System.Globalization;
@{
    var slots = (IEnumerable<Data.Entities.ReservationSlots>)ViewData["slots"];
}

<style>
    .button-disabled {
        opacity: 0.5;
    }


    #calendar {
        max-width: 1100px;
        margin: 0 auto;
        background-color: white; /* Białe tło kalendarza */
    }

    a.fc-day-header {
        background-color: mediumpurple;
        color: black;
        text-decoration: none; /* Usunięcie podkreślenia */
    }

    a.fc-scroll-grid-sync-inner {
        background-color: magenta; /* Kolor tła */
    }

    a {
        color: black;
        text-decoration: none; /* Usunięcie podkreślenia */
    }

</style>

@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert("@TempData["ErrorMessage"]");
    </script>
}

<div id='calendar'>
    @foreach (var slot in slots)
    {
        <div class="slot"
             data-id="@slot.Id"
             data-date="@($"{slot.Date.ToString("yyyy-MM-dd")}T{slot.StartTime}")"
             data-endTime="@($"{slot.EndTime}")"
             data-startTime="@($"{slot.EndTime}")">
        </div>
    }
</div>

<div id="ReservationSlotsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body" id="newReservationSlot">
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var slotsElements = document.querySelectorAll('.slot');
        var selectedDate;
        var events = [];
        console.log(slotsElements)
        console.log(selectedDate)
        slotsElements.forEach(slotElement => {
            slotElement.getAttribute('data-endtime');
            var id = slotElement.dataset.id;
            var date = new Date(slotElement.dataset.date);
            var endTime = slotElement.dataset.endtime; 
            var startTime = slotElement.dataset.starttime;

            events.push({
                id: id,
                start: date,
                end: endTime,
                title: `${startTime} - ${endTime}`
            });
        });

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            initialDate: '2023-11-01',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth'
            },
            events: events,
            dateClick: function (info) {
                selectedDate = info.dateStr; // Pobranie daty z klikniętego dnia
                $.ajax({
                    url: '/ReservationSlots/NewReservationSlot',
                    type: 'GET',
                    data: { selectedDate: selectedDate },
                    success: function (data) {
                        $('#ReservationSlotsModal .modal-body').html(data); // Wstawienie danych częściowego widoku do modala
                        $('#ReservationSlotsModal').modal('show'); // Wyświetlenie modala                    }
                    }});
            },
            eventClick: function (info) {
                var clickedEvent = info.event;
                var slotId = clickedEvent.id;

                $.ajax({
                    url: '/ReservationSlots/GetSlotDetails',
                    method: 'GET',
                    data: {
                        slotId: slotId
                    },
                    success: function (response) {
                        $('#newReservationSlot').html(response);
                        $('#ReservationSlotsModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        console.error('Wystąpił błąd podczas pobierania szczegółów rezerwacji:', error);
                    }
                });
            }
        });

        calendar.render();
    });
</script>