@model IEnumerable<Data.Entities.Message>
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "";
    var userId = 0;
    var users = (IEnumerable<Data.Entities.User>)ViewData["users"];
    var allusers = (IEnumerable<Data.Entities.User>)ViewData["allusers"];
    var user2 = (Data.Entities.User)ViewData["user2"];
    var currentUser = (Data.Entities.User)ViewData["user1"];
    var newMessage = new Data.Entities.Message();
}
<head>
    <link rel="stylesheet" href="~/css/messages.css">
</head>

<div class="containerMess">
    <div class="list-container message-list">
        <div class="message-row section-title no-padding">
            <h2>Latest Chats</h2>

            <div class="form-group">
                <label for="selectUser">Select a user:</label>
                <select class="form-control" id="selectUser">
                    <option value="">Select user</option>
                    @foreach (var user in allusers)
                    {    
                        <option value="@user.Id">@user.FirstName @user.LastName</option>
                    }
                </select>
                <div id="selectedUser"></div>

            </div>


            @foreach (var item in users)
            {
                <a href="@item.Id" class="message-row">
                    <div class="message-row-content">
                        <div class="header-wrapper">
                            <div class="image-wrapper rounded">
                                @if (item.Photos.Count > 0)
                                {
                                    <img src="~/images/@item.Photos.Where(x=>x.IsProfilePicture==true).FirstOrDefault().Path" height="50" width="50" />
                                }
                                else
                                {
                                    <img src="~/images/blank-profile.png" alt="blankuser" height="40" width="40" />
                                }
                            </div>
                            <h6>
                                @item.FirstName @item.LastName
                            </h6>
                        </div>
                    </div>
                </a>
            }
        </div>
       
    </div>

<div class="list-container message-list wide">
        @if (user2 != null)
        {
            <div class="message-row section-title with-padding">
                <div class="image-wrapper rounded">

                @if (user2.Photos.Count > 0)
                {
                    <img src="~/images/@user2.Photos.Where(x=>x.IsProfilePicture==true).FirstOrDefault().Path" height="40" width="40" />
                }
                else
                {
                        <img src="~/images/blank-profile.png" class="profile-image inline-block" alt="blankuser" height="40" width="40" />
                    }
                </div>
                <h4 class="f-w-600"> @user2.FirstName @user2.LastName</h4>
            </div>
     

            <div class="chat-wrapper">
                @foreach (var item in Model)
                {
                    @if (currentUser.Messages.Contains(item))
                    {
                        <div class="message-item right">
                            <div class="message-wrapper">
                                <p class="username">
                                    @Html.DisplayFor(modelItem => item.User1.FirstName)
                                </p>

                                <p class="message-text">
                                    @Html.DisplayFor(modelItem => item.Text)
                                </p>
                            </div>
                            @if (currentUser.Photos.Count > 0)
                            {
                                <div class="message-user-image">
                                    <img src="~/images/@currentUser.Photos.Where(x=>x.IsProfilePicture==true).FirstOrDefault().Path" height="50" width="50" />
                                </div>
                            }
                            else
                            {
                                <img src="~/images/blankUser.svg" height="50" width="50" />
                            }
                        </div>
                    }

                    @if (!(currentUser.Messages.Contains(item)))
                    {
                        <div class="message-item left">
                            <div class="message-user-image">

                            @if (user2.Photos.Count > 0)
                            {
                                    <img src="~/images/@user2.Photos.Where(x=>x.IsProfilePicture==true).FirstOrDefault().Path" height="50" width="50" />
                            }
                            else
                            {
                                    <img src="~/images/blank-profile.png" class="profile-image inline-block" alt="blankuser" height="40" width="40" />
                                }
                            </div>

                            <div class="message-wrapper">
                                <p class="username">
                                   @user2.FirstName
                                </p>
                                <p class="message-text">
                                    @Html.DisplayFor(modelItem => item.Text)
                                </p>
                            </div>
                        </div>
                    }
                }

            </div>

            <div class="textbox-wrapper">
                    <form asp-action="SendMessage"  class="form-inline">
                      <input type="text" asp-for="@newMessage.Text" name="Text" class="form-control d-inline-block" placeholder="Type a message...">
                       <input type="hidden" asp-for="@newMessage.UserId2" name="UserId2" id="UserId2" class="form-sample d-inline-block" value="@user2.Id" />
                      <button type="submit" class="btn btn-gradient-primary mb-2 d-inline-block">Send <i class="bi bi-send-fill"></i></button>
                    </form>
             </div>
    }

</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var chatWrapper = document.querySelector('.list-container.message-list.wide .chat-wrapper');
</script>
<script>
    $(document).ready(function () {
        $('#selectUser').on('change', function () {
            var userId = $(this).val();
            if (userId !== '') {

                window.location.href = "/Message/GetConversation/" + userId; 
            }
        });
    });
</script>