@model IEnumerable<Data.Entities.Message>
@inject IHttpContextAccessor HttpContextAccessor
@{
  ViewData["Title"] = "Messenger";
  var users = (IEnumerable<Data.Entities.User>)ViewData["users"];
}



    @foreach (var item in users)
    {
    <a data-user-id="@item.Id" class="message-row">
        <div class="image-wrapper rounded">
            @if (item.Photos.Count > 0)
        {                
            <img src="~/Photos/@item.Photos.FirstOrDefault().Path" height="50" width="50" />
        }
    </div>
    </a>
    }

    <div id="conversationContainer" style="display: none;">
         @Html.Partial("GetConversation")
    </div>

    <form id="sendMessageForm" asp-action="SendMessage">
        <textarea rows="4" asp-for="@Model.FirstOrDefault().Text" class="form-input form-control chat-textbox-input" placeholder="Type a message..."></textarea>
        <span asp-validation-for="@Model.FirstOrDefault().Text" class="text-danger"></span>

        <button type="submit" class="send-button">Send</button>
        <div class="form-group">
        <input type="hidden" asp-for="@Model.FirstOrDefault().UserId" class="form-control" />
        </div>
        <div class="form-group">
        @if (Model.First().User1.Email == HttpContextAccessor.HttpContext.User.Identity.Name)
        {
            <input type="hidden" asp-for="@Model.FirstOrDefault().UserId2" class="form-control"
            value="@Model.FirstOrDefault().UserId2" />
            }
            else
            {
                <input type="hidden" asp-for="@Model.FirstOrDefault().UserId2" class="form-control"
                value="@Model.FirstOrDefault().UserId" />
            }
        </div>
        </form>

        @section Scripts {
        @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }




        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $('.message-row').on('click', function () {
                var userId = $(this).data('user-id'); // ID użytkownika do konwersacji

                if (userId) {
                    $.ajax({
                        url: '/Message/GetConversation', // Zastąp 'ControllerName' nazwą Twojego kontrolera
                        type: 'GET',
                        data: { id: userId },
                        success: function (data) {
                            $('#conversationContainer').html(data); // 'conversationContainer' to miejsce na konwersację w Twoim widoku
                            $('#conversationContainer').show(); // Pokazujemy kontener po załadowaniu konwersacji
                        },
                        error: function () {
                            alert('Wystąpił błąd podczas pobierania konwersacji.');
                        }
                    });
                } else {
                    // Dodatkowe działania lub informacje, jeśli użytkownik nie został wybrany
                    console.log('Proszę wybrać użytkownika.');
                }
            });

            $(document).ready(function () {
                $('#sendMessageForm').on('submit', function (e) {
                    e.preventDefault();

                    // Pobierz dane z formularza
                    var formData = $(this).serialize();

                    // Wyślij żądanie AJAX
                    $.ajax({
                        url: '/Message/SendMessage',
                        type: 'POST',
                        data: formData,
                        success: function (data) {
                            // Zaktualizuj zawartość konwersacji
                            $('#conversationContainer').html(data);
                        },
                        error: function () {
                            alert('Wystąpił błąd podczas wysyłania wiadomości.');
                        }
                    });
                });
            });
        </script>}