@model IEnumerable<Data.Entities.Reservation>

@foreach (var v in Model)
{
    <tr>
        @if (v.User.Photos.Where(x => x.IsProfilePicture == true).Count() > 0)
        {
            <td>
                <img src="~/images/@v.User.Photos.Where(x => x.IsProfilePicture == true).First().Path" class="me-2" alt="User-Profile-Image">
                @v.User.FirstName @v.User.LastName
            </td>
        }
        else
        {
            <td>
                <img src="~/assets/images/faces/face1.jpg" class="me-2" alt="image">
                @v.User.FirstName @v.User.LastName
            </td>
        }
        <td> @v.Title </td>
        <td>
            <div data-reservation-id="@v.Id" class="changeReservationStatus">
                @if (v.Status.Name == "Pending")
                {
                    <label class="badge badge-gradient-warning btn">@v.Status.Name</label>

                }
                else if (v.Status.Name == "Confirmed")
                {
                    <label class="badge badge-gradient-success btn">@v.Status.Name</label>

                }
                else
                {
                    <label class="badge badge-gradient-light btn">@v.Status.Name</label>
                }
            </div>
        </td>
        <td>
            @if (string.IsNullOrEmpty(v.UserPhotoPath?.ToString()))
            {
                <span>Photo not uploaded</span>
            }
            else
            {
                <a class="reservationphotos" data-reservation-id="@v.Id" data-photo-path="/uploads/@v.UserPhotoPath">
                    <img style="border-radius:0px;" src="/uploads/@v.UserPhotoPath" alt="@v.Title" />
                </a>
            }
        </td>
        <td>
            @if (string.IsNullOrEmpty(v.AdminPhotoPath?.ToString()))
            {
                <span class="uploadphoto" data-reservation-id="@v.Id" >Photo not uploaded</span>
            }
            else
            {
                <a class="uploadphoto" data-reservation-id="@v.Id" data-photo-path="/uploads/@v.AdminPhotoPath">
                    <img style="border-radius:0px;" src="/uploads/@v.AdminPhotoPath" alt="@v.Title" />
                </a>
            }
        </td>
        <td> @v.ReservationSlot.Date.ToShortDateString(), @v.ReservationSlot.StartTime </td>
        <td> @v.ReservationSlot.Date.ToShortDateString(), @v.ReservationSlot.EndTime </td>
    </tr>
}

